h1 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    line-height: 1;
    margin: 20px;
    margin-top: 40px;
}

.background_argp{
    background-image: url('https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1676134779/banner-ok-argentina-programa.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
